html, body{
    scroll-behavior: smooth;   
}

#first-header{
    position: relative;
    color:#2F4F4F;
   font-family: Arial; 
}
#first-header1 p{
    font-style: oblique;
    color: #2F4F4F;
}
#header-2{
    background-color:lightsteelblue;
   
}
ul li{
    list-style-type: none;
    display:inline;
    padding: 2px;
}
ul{
   text-align: left;
   padding-top:35px
}

ul li a{
    color:black;
    font-size:25px;
    font-family:Gill sans;
}
a:hover{
    color:darkblue;
    background-color:unset;
}
.cutom-container{
    height: 300px;
}

.director h1{
    text-align: center;
    color:black;
    font-family:Georgia;
    font-style: italic;
}

.koye{
   margin:auto
}
.speech{
    text-overflow: ellipsis;
}

#text-wra{
    color:grey;
    font-style:oblique;
}

#section-1{
    background-color: white;
}


.stay{
    position:sticky;
    top: 0;
    z-index: -100000;
}

.achieve{
    border-radius:30px;
    padding:40px;
}
#cover-card{
   padding-bottom: 50px;
}
#footer-link a{
    padding:4px;
}

#footer3 a{
    display: block;
    color:black;
    text-decoration: none;
    background-color: unset;
}
 
.i-footer{
    position: sticky;
    top:0;
    z-index: -1000;
}

p{
    font-weight: 300;
    font-family:'Gill Sans'; 
    font-style: normal;
    font-size: 30px;
}

#footer3 a{
    font-size: 25px;
    display: block;
    text-decoration: none;
   
}
#footer3 a:hover{
    color:white;
    font-size: 28px;
}
#footer-svg a{
    padding: 5px;
    background-color: unset;
}
p{
    font-size: 28px;
}

#gallery{
    font-size:30px;
    color: blue;
}

#gallery-images h2{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}

#gallery-images a{
    border-radius: 10px;
    margin: 10px;
    background-color:midnightblue;
    color: white;
    width:50%;
    text-decoration: none;
    text-align:center;
    font-size:27px
}

#gallery-images a:hover{
    background-color:rgb(43, 165, 206);
    transition-duration: 0.7s;
}

#gds-3{
    position: relative;
    left:200px;
}
#ccs{
    position: relative;
    left:300px;
}
#admi-image{
    float: right;
}
.form-wrapper{
    background-color:#009688;
    margin:80px;
    justify-content: space-between;
}
form input[type="radio"]{
    margin:0;
    color:blue;
    width:50px;
    height: auto;
}

.js1{
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-decoration:none;
    float: left;
}
.js1:hover{
    background-color:red;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
form{
    color:#FFFFFF;
    
}
form ul{
    list-style: none;
    margin-left:290px;
}
form ul li{
    display: block;
}
label{
    padding-left: 0px;
}
form  label input{
    margin:10px;
    width:500px;  
    height:40px ;
} 

.child, .parent{
    padding: 30px;
    text-align: center;
    color:#FFFFFF
}
hr{
    width:600px;
    background-color:#000000;
}
.submitbtn{
    border:none;
    width:80px;
    background-color:#000050 ;
    text-align: center;
    margin:50px 0px 20px 300px;
    color:white;
}
.submitbtn:hover{
    background-color: #1B20AF;
    color:white;
    transition-duration: 1s;
}